.bookmark-button-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .bookmark-button-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: #22252B; /* Dark text color */
  }
  
  .bookmark-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background: #E5E8EB; /* Light background from palette */
    border: 1px solid #A3AEB1; /* Subtle border color */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    z-index: 1000;
  }
  
  .bookmark-dropdown h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #22252B; /* Primary dark text */
    margin-bottom: 10px;
    text-align: center;
  }
  
  .bookmark-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .bookmark-dropdown ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    background-color: #FFFFFF; /* Default white background */
  }
  
  .bookmark-dropdown ul li button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .bookmark-dropdown ul li button:hover {
    background-color: #0056b3;
  }
  
  .create-collection {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .create-collection input {
    border: 1px solid #A3AEB1; /* Subtle border */
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    width: calc(100% - 16px);
    color: #22252B; /* Dark text */
    background-color: #E5E8EB; /* Light input background */
  }
  
  .create-collection input::placeholder {
    color: #A3AEB1; /* Placeholder text color */
  }
  
  .create-collection button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .create-collection button:hover {
    background-color: #0056b3;
  }

