/* All CSS related to the bookmark page */
.saved-posts ul {
  list-style: none;
  padding: 0;
}

.saved-posts li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.sort-dropdown {
  margin-left: 10px;
  padding: 5px;
}

.saved-posts {
  margin-left: 20px;
}

.deleteq {
  margin-left: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.deleteq:hover {
  background-color: #cc0000;
}

.buttons button {
  margin-right: 10px;
}

.buttons button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0056b3;
}
