/* General page styles */
.search-results-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #b5ccc0; /* Light background */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-results-title {
    font-size: 24px;
    color: #22252B; /* Dark primary text */
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  /* List styles */
  .search-results-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-result-item {
    background-color: #F5F5F5; /* Light gray for list items */
    border: 1px solid #A3AEB1; /* Border matching the palette */
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .search-result-item:hover {
    background-color: #ced8d3; /* Subtle green hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #E5E8EB; /* Light text on hover */
  }
  
  /* Link styles */
  .search-result-link {
    text-decoration: none;
    color: #22252B; /* Dark primary link */
    font-size: 18px;
    font-weight: bold;
  }
  
  .search-result-link:hover {
    color: #B09F95; /* Accent color for hover */
    text-decoration: underline;
  }
  
  /* No results message */
  .no-results {
    text-align: center;
    color: #53655C; /* Subtle secondary text */
    font-size: 16px;
    margin-top: 20px;
    background-color: #E5E8EB;
    padding: 10px;
    border-radius: 8px;
  }
  