/* General layout */
.user-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Header containing profile and search bar */
.profile-header {
  display: flex;
  justify-content: space-between; /* Push search bar to the side */
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #A3AEB1;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  background-color: #E5E8EB;
}

.search-bar button {
  background-color: #53655C;
  color: #E5E8EB;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-bar button:hover {
  background-color: #22252B;
}

/* Profile image and username display */
.profile-image-container {
  display: flex;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.username-display h1 {
  font-size: 24px;
  color: #22252B;
}

/* Biography section */
.biography {
  background-color: #F9F9F9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #A3AEB1;
}

.biography h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.biography p {
  font-size: 14px;
  color: #53655C;
}

/* Collections section */
.collections {
  background-color: #F9F9F9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #A3AEB1;
}

.collections h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.bookmark-collection {
  list-style: none;
  font-size: 14px;
}

.bookmark-collection a {
  color: #153372;
  text-decoration: none;
}

.bookmark-collection a:hover {
  color: #53655C;
}

/* Activity history */
.history {
  background-color: #F9F9F9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #A3AEB1;
}

.history h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  margin-bottom: 8px;
  font-size: 14px;
}

.history-item .history-text a {
  color: #007BFF;
}

.history-item .history-text a:hover {
  text-decoration: underline;
}
